# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env

*log
*.c
autometa/*.pyc
autometa/taxonomy/*.pyc
databases/markers/*.h3*

# databases / testing
databases/ncbi/
tests/data/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
