// Nextflow Autometa Pipeline Configuration.
/*
 To choose one of the available profiles (standard, cluster, chtc) you must pass
 in the the -profile argument. 
 i.e. 
 
 ```bash
 nextflow run main.nf -profile cluster -c parameters.config
 ```

 You may also specify multiple profiles by separating their names with a comma.
 i.e.
 
 ```bash
 nextflow run autometa.nf -profile standard,cluster -c parameters.config
 ```

 Note: Standard profile is implictly used if no profile is specified by the user.
*/

profiles {
  standard {
    process.executor = "local"
  }
  cluster {
    process.executor = "slurm"
    // queue is the slurm partition to use.
    // Set SLURM partition with queue directive.
    process.queue = "queue"
    // See https://www.nextflow.io/docs/latest/executor.html#slurm for details.
  }
  chtc {
    process.executor = "condor"
    // See https://www.nextflow.io/docs/latest/executor.html#htcondor for details.
    /* 
    ***IMPORTANT NOTES:***
    1. The pipeline must be launched from a node where the `condor_submit` command is available.
    2. The HTCondor executor for Nextflow does not support at this time the HTCondor 
    ability to transfer input/output data to the corresponding job computing node. 
    Therefore the data needs to be made accessible to the computing nodes using a 
    shared file system directory from where the Nextflow workflow has to be executed 
    (or specified via the -w option).
    */
  }
}

docker {
  // See: https://www.nextflow.io/docs/latest/config.html#config-docker for more info.
  enabled = true
  fixOwnership = true
}
timeline {
  enabled = true
  file = "pipeline_info/autometa-timeline.html"
}
report {
  enabled = true
  file = "pipeline_info/autometa-report.html"
}
trace {
  enabled = true
  file = "pipeline_info/autometa-trace.txt"
}
dag {
  enabled = true
  file = "pipeline_info/autometa-dag.dot"
}

manifest {
    author = "Jason C. Kwan Lab"
    defaultBranch = "dev"
    name = "autometa"
    homePage = "https://github.com/KwanLab/Autometa"
    description = "Autometa: Automated Extraction of Microbial Genomes from Shotgun Metagenomes"
    mainScript = "main.nf"
    doi = "https://doi.org/10.1093/nar/gkz148"
    version = "2.0.0"
    nextflowVersion = "20.10+"
}
