# For information on available operators see https://pip.pypa.io/en/stable/user_guide/#fixing-conflicting-dependencies
attrs
bedtools
biopython
bowtie2
diamond==2.*
gdown
hdbscan
hmmer
make
nextflow>=20.10
numpy
pandas>=1.1
parallel
prodigal
requests
rsync
samtools==1.11
scikit-bio
scikit-learn
tqdm
tsne
umap-learn
