########################################
###### Metagenome Submission Files #####
########################################

[files]
metagenome = tests/data/metagenome.fna
# Multiple Reads files of respective format may be provided using a comma-delimiter
fwd_reads = None
rev_reads = None
se_reads = None
sam = None
bam = None
lengths = None
bed = None
length_filtered = None
coverages = None
kmer_counts = None
kmer_normalized = None
kmer_embedded = None
nucleotide_orfs = None
amino_acid_orfs = None
blastp = None
blastp_hits = None
lca = None
blastx = None
taxonomy = None
bacteria_hmmscan = None
bacteria_markers = None
archaea_hmmscan = None
archaea_markers = None
bacteria_binning = None
archaea_binning = None
checkpoints = None

########################################
### Metagenome Submission Parameters ###
########################################

[parameters]
workspace = <required>
project = 1
metagenome_num = 0
kingdom = bacteria
length_cutoff = 3000
cov_from_spades = False
kmer_size = 5
kmer_multiprocess = True
kmer_transform = clr
do_pca = True
pca_dims = 50
embed_dimensions = 2
embed_method = bhsne
do_taxonomy = True
tmpdir = None
taxon_method = majority_vote
reverse_ranks = True
starting_rank = superkingdom
clustering_method = dbscan
binning_method = recursive_dbscan
completeness = 20.0
purity = 90.0
verbose = False
force = False
usepickle = True
parallel = False
cpus = 1
seed = 42
