[common]
home_dir = None

########################################
######## Autometa Environment ##########
########################################

[environ]
diamond = None
hmmsearch = None
hmmpress = None
hmmscan = None
prodigal = None
bowtie2 = None

########################################
######### Database Parameters ##########
########################################

[databases]
base = ${common:home_dir}/databases
ncbi = ${databases:base}/ncbi
markers = ${databases:base}/markers

[database_urls]
taxdump = ftp://${ncbi:host}/pub/taxonomy/taxdump.tar.gz
accession2taxid = ftp://${ncbi:host}/pub/taxonomy/accession2taxid/prot.accession2taxid.gz
nr = ftp://${ncbi:host}/blast/db/FASTA/nr.gz
bacteria_single_copy = https://${markers:host}/jason_c_kwan/autometa/raw/bd3ab6a65c954db85b78256000056a837aaa3dc2/single-copy_markers/Bacteria_single_copy_cutoffs.txt
bacteria_single_copy_cutoffs = https://${markers:host}/jason_c_kwan/autometa/raw/bd3ab6a65c954db85b78256000056a837aaa3dc2/single-copy_markers/Bacteria_single_copy.hmm
archaea_single_copy = https://${markers:host}/jason_c_kwan/autometa/raw/bd3ab6a65c954db85b78256000056a837aaa3dc2/single-copy_markers/Archaea_single_copy.hmm
archaea_single_copy_cutoffs = https://${markers:host}/jason_c_kwan/autometa/raw/bd3ab6a65c954db85b78256000056a837aaa3dc2/single-copy_markers/Archaea_single_copy_cutoffs.txt

[checksums]
taxdump = ftp://${ncbi:host}/pub/taxonomy/taxdump.tar.gz.md5
accession2taxid = ftp://${ncbi:host}/pub/taxonomy/accession2taxid/prot.accession2taxid.gz.md5
nr = ftp://${ncbi:host}/blast/db/FASTA/nr.gz.md5

[ncbi]
host = ftp.ncbi.nlm.nih.gov
taxdump = ${databases:ncbi}/taxdump.tar.gz
nodes = ${databases:ncbi}/nodes.dmp
names = ${databases:ncbi}/names.dmp
merged = ${databases:ncbi}/merged.dmp
accession2taxid = ${databases:ncbi}/prot.accession2taxid.gz
nr = ${databases:ncbi}/nr.dmnd

[markers]
host = bitbucket.org
bacteria_single_copy = ${databases:markers}/bacteria.single_copy.hmm
bacteria_single_copy_cutoffs = ${databases:markers}/bacteria.single_copy.cutoffs
archaea_single_copy = ${databases:markers}/archaea.single_copy.hmm
archaea_single_copy_cutoffs = ${databases:markers}/archaea.single_copy.cutoffs

########################################
####### Project Submission Files #######
########################################

[files]
metagenome = metagenome.fna
fwd_reads = None
rev_reads = None
length_filtered = metagenome.filtered.fna
coverages = coverages.tsv
kmer_counts = kmers.tsv
kmer_normalized =  kmers.normalized.tsv
kmer_embedded =  kmers.embedded.tsv
nucleotide_orfs = metagenome.filtered.orfs.fna
amino_acid_orfs = metagenome.filtered.orfs.faa
blastp = blastp.tsv
blastp_hits = blastp.hits.pkl.gz
blastx = blastx.tsv
taxonomy = taxonomy.tsv
bacteria_hmmscan = bacteria.hmmscan.tsv
bacteria_markers = bacteria.markers.tsv
archaea_hmmscan = archaea.hmmscan.tsv
archaea_markers = archaea.markers.tsv
binning = binning.tsv

########################################
### Metagenome Submission Parameters ###
########################################
