########################################
### Metagenome Submission Parameters ###
########################################

[files]
metagenome = metagenome.fna
fwd_reads = fwd_reads.fastq
rev_reads = rev_reads.fastq
sam = alignments.sam
bam = alignments.bam
lengths = lengths.tsv
bed = alignments.bed
length_filtered = metagenome.filtered.fna
coverages = coverages.tsv
kmer_counts = kmers.tsv
kmer_normalized =  kmers.normalized.tsv
kmer_embedded =  kmers.embedded.tsv
nucleotide_orfs = metagenome.filtered.orfs.fna
amino_acid_orfs = metagenome.filtered.orfs.faa
blastp = blastp.tsv
blastp_hits = blastp.hits.pkl.gz
blastx = blastx.tsv
taxonomy = taxonomy.tsv
bacteria_hmmscan = bacteria.hmmscan.tsv
bacteria_markers = bacteria.markers.tsv
archaea_hmmscan = archaea.hmmscan.tsv
archaea_markers = archaea.markers.tsv
binning = binning.tsv

[parameters]
projects = <required>
project = 1
resume = 0
kingdom = bacteria
length_cutoff = 3000
cov_from_spades = False
kmer_size = 5
kmer_multiprocess = True
kmer_normalize = True
do_pca = True
pca_dims = 50
embedding_method = UMAP
taxon_method = majority_vote
reversed = True
binning_method = recursive_dbscan
completeness = 20.0
purity = 90.0
verbose = False
force = False
usepickle = True
parallel = False
cpus = 1
