# Copyright 2020 Ian J. Miller, Evan R. Rees, Kyle Wolf, Siddharth Uppal,
# Shaurya Chanana, Izaak Miller, Jason C. Kwan
#
# This file is part of Autometa.
#
# Autometa is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Autometa is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Autometa. If not, see <http://www.gnu.org/licenses/>.

###################################
### Metagenome Submission Files ###
###################################

[files]
metagenome = metagenome.fna
# Multiple Reads files of respective format may be provided using a comma-delimiter
fwd_reads = fwd_reads.fastq, fwd_reads.fastq
rev_reads = rev_reads.fastq
se_reads = se_reads.fastq
sam = alignments.sam
bam = alignments.bam
lengths = lengths.tsv
bed = alignments.bed
length_filtered = metagenome.filtered.fna
coverages = coverages.tsv
kmer_counts = kmers.tsv
kmer_normalized =  kmers.normalized.tsv
kmer_embedded =  kmers.embedded.tsv
nucleotide_orfs = metagenome.filtered.orfs.fna
amino_acid_orfs = metagenome.filtered.orfs.faa
blastp = blastp.tsv
blastp_hits = blastp.hits.pkl.gz
blastx = blastx.tsv
taxonomy = taxonomy.tsv
bacteria_hmmscan = bacteria.hmmscan.tsv
bacteria_markers = bacteria.markers.tsv
archaea_hmmscan = archaea.hmmscan.tsv
archaea_markers = archaea.markers.tsv
binning = binning.tsv
checkpoints = checkpoints.tsv

########################################
### Metagenome Submission Parameters ###
########################################

[parameters]
workspace = <required>
project = 1
metagenome_num = 0
kingdom = bacteria
length_cutoff = 3000
cov_from_spades = False
kmer_size = 5
kmer_multiprocess = True
kmer_normalize = True
do_pca = True
pca_dims = 50
embedding_method = bhsne
do_taxonomy = True
taxon_method = majority_vote
reverse_ranks = True
starting_rank = superkingdom
clustering_method = dbscan
binning_method = recursive_dbscan
completeness = 20.0
purity = 90.0
verbose = False
force = False
usepickle = True
parallel = False
cpus = 1
