// *****************
// Autometa Nextflow Configuration
// Congigurations are broken up into files, see below
// *****************

manifest {
    author = "Jason C. Kwan Lab"
    defaultBranch = "dev"
    name = "autometa"
    homePage = "https://github.com/KwanLab/Autometa"
    description = "Autometa: Automated Extraction of Microbial Genomes from Shotgun Metagenomes"
    doi = "https://doi.org/10.1093/nar/gkz148"
    version = "2.0.0"
    nextflowVersion = ">=20.10"
}

// Helper script
includeConfig 'conf/base.config'

// Arguments required by the pipeline are defined, and can be modified, here:
includeConfig 'conf/00_required.config'

// Optional Autometa arguments (e.g. "kmer_embed_method") are defined, and can be modified, here:
includeConfig 'conf/01_optional_autometa.config'

// Hardware limits (e.g. max_cpu, max_ram, etc.) are defined, and can be modified, here:
includeConfig 'conf/02_hardware.config'

// Environments (e.g. docker, condor, etc.) are defined, and can be modified, here:
includeConfig 'conf/03_environments-conda-docker.config'
