#!/usr/bin/env nextflow

nextflow.enable.dsl=2

// **********
// FILEPATHS
// **********
// Data inputs
params.metagenome = null
if ( !params.metagenome || params.metagenome instanceof Boolean ) error "</path(s)/to/metagenome.fna>"
// Where to store intermediate and final results:
params.interim = null
if ( !params.interim || params.interim instanceof Boolean ) error "/path/to/directory/to/store/user/interimediate/results>"
params.processed = null
if ( !params.processed || params.processed instanceof Boolean ) error "</path/to/directory/to/store/user/final/results>"

// Database inputs
params.ncbi_database = "$HOME/Autometa/autometa/databases/ncbi"
params.diamond_database = "$HOME/Autometa/autometa/databases/ncbi/nr.dmnd"
params.markers_database = "$HOME/Autometa/autometa/databases/markers"

// Additional runtime settings
params.cpus = 2

// **********
// PARAMETERS
// **********

// Metagenome Length filtering
params.length_cutoff = 3000

// Kmer counting/normalization/embedding
params.kmer_size = 5
params.kmer_norm_method = "am_clr" // choices: "am_clr", "clr", "ilr"
params.kmer_pca_dimensions = 50
params.kmer_embed_method = "bhsne" // choices: "sksne", "bhsne", "umap"
params.kmer_embed_dimensions = 2

// Binning parameters
params.kingdom = "bacteria"
params.classification_kmer_pca_dimensions = 50
params.kmer_embed_method = "bhsne" // choices: "bhsne", "sksne", "umap"
params.clustering_method = "dbscan" // choices: "dbscan", "hdbscan"
params.binning_starting_rank = "superkingdom" // choices: "superkingdom", "phylum", "class", "order", "family", "genus", "species"
params.classification_method = "decision_tree" // choices: "decision_tree", "random_forest"
params.completeness = 20.0
params.purity = 90.0
