#!/usr/bin/env nextflow

nextflow.enable.dsl=2

// **********
// FILEPATHS
// **********
// Data inputs
// NOTE: You MUST wrap these data inputs in 'single quotes' or "double quotes"
// "double quotes" are required for the use of wildcard characters
// e.g. params.metagenome = "$HOME/metagenomes/raw/metagenome.fna"
params.metagenome = null
// Where to store intermediate and final results:
// e.g. params.interim = "$HOME/metagenomes/interim/"
params.interim = null
// e.g. params.processed = "$HOME/metagenomes/processed/"
params.processed = null

// Database input
// NOTE: Directory path must contain:
// - diamond formatted nr file => nr.dmnd
// - Extracted files from tarball taxdump.tar.gz
// - prot.accession2taxid.gz
params.ncbi_database = "$HOME/Autometa/autometa/databases/ncbi"

// Additional runtime settings
params.cpus = 2

// **********
// PARAMETERS
// **********

// Metagenome Length filtering
params.length_cutoff = 3000
// Kmer counting/normalization/embedding
params.kmer_size = 5
params.kmer_norm_method = "am_clr" // choices: "am_clr", "clr", "ilr"
params.kmer_embed_method = "bhsne" // choices: "bhsne", "sksne", "umap"
params.kmer_pca_dimensions = 50 // Must be below the number of columns in kmer counts table
params.kmer_embed_dimensions = 2 // Must be below `kmer_pca_dimensions`
// Binning parameters
params.kingdom = "bacteria"
params.clustering_method = "dbscan" // choices: "dbscan", "hdbscan"
params.binning_starting_rank = "superkingdom" // choices: "superkingdom", "phylum", "class", "order", "family", "genus", "species"
params.completeness = 20.0 // Will keep clusters over 20% complete
params.purity = 95.0 // Will keep clusters over 95% pure
params.cov_stddev_limit = 25.0 // Will keep clusters less than 25% coverage std.dev.
params.gc_stddev_limit = 5.0 // Will keep clusters less than 5% GC% std.dev.
// Unclustered Recruitment paramters
params.classification_method = "decision_tree" // choices: "decision_tree", "random_forest"
params.classification_kmer_pca_dimensions = 50
