#!/usr/bin/env nextflow

nextflow.enable.dsl=2

/*
    REQUIRED RESULTS PARAMETERS
    ========

NOTE
----

    + You MUST wrap these data inputs in 'single quotes' or "double quotes"

    + "double quotes" are required for the use of wildcard characters
        e.g. params.metagenome = "$HOME/metagenomes/raw/metagenome.fna"

    + Nextflow will create the interim and processed directories if they do not exist

*/

params.metagenome = null

// Where to store intermediate and final results:
// e.g. params.interim = "$HOME/metagenomes/interim/"
params.interim = null

// e.g. params.processed = "$HOME/metagenomes/processed/"
params.processed = null

/*
    REQUIRED DATABASE PARAMETERS
    ========

NOTE
----

Directory path must contain:
    - diamond formatted nr file => nr.dmnd
    - Extracted files from tarball taxdump.tar.gz
    - prot.accession2taxid.gz

*/

params.ncbi_database = "$HOME/Autometa/autometa/databases/ncbi"

/*
    OPTIONAL PARAMETERS

    + Metagenome length cutoff
    + K-mer size/normalization/embedding
    + Binning kingdom to consider
    + Clustering method
    + Binning metrics thresholds
*/

params.cpus = 2 // Additional runtime settings
params.length_cutoff = 3000 // Metagenome Length filtering
// Kmer counting/normalization/embedding parameters
params.kmer_size = 5
params.norm_method = "am_clr" // choices: "am_clr", "clr", "ilr"
params.pca_dimensions = 50 // Must be below the number of columns in kmer counts table
params.embedding_method = "bhsne" // choices: "bhsne", "sksne", "umap", "densmap", "trimap"
params.embedding_dimensions = 2 // Must be below `kmer_pca_dimensions`
// Binning parameters
params.kingdom = "bacteria" // choices: "bacteria", "archaea" -> Also used during marker annotation/filtering
params.clustering_method = "dbscan" // choices: "dbscan", "hdbscan"
params.binning_starting_rank = "superkingdom" // choices: "superkingdom", "phylum", "class", "order", "family", "genus", "species"
params.completeness = 20.0 // Will keep clusters over 20% complete
params.purity = 95.0 // Will keep clusters over 95% pure
params.cov_stddev_limit = 25.0 // Will keep clusters less than 25% coverage std.dev. between contigs in cluster
params.gc_stddev_limit = 5.0 // Will keep clusters less than 5% GC% std.dev. between contigs in cluster
// Unclustered Recruitment paramters
params.classification_method = "decision_tree" // choices: "decision_tree", "random_forest"
params.classification_kmer_pca_dimensions = 50
