/*
 * -------------------------------------------------
 *  Autometa-specific config file
 * -------------------------------------------------
 */

// Parameters should be documented in nextflow_schema.json


/*
 * -------------------------------------------------
 *  Paralleliztion 
 * -------------------------------------------------
 */
params{
  parallel_split_fasta = false
  store_split_fasta_in_ram = false
  fasta_split_size = 100.GB
}

/*
 * -------------------------------------------------
 *  Taxonomy-aware data subsetting 
 * -------------------------------------------------
 */
params {
  taxonomy_aware = false
  single_db_dir = '/home/chase/Documents/large_db/tmep'
  nr_dmnd_path = null
  prot_accession2taxid_gz_path = null
  taxdump_tar_gz_path = null
  large_downloads_permission = false
  binning_starting_rank = "superkingdom" // choices: "superkingdom", "phylum", "class", "order", "family", "genus", "species"
}

/*
 * -------------------------------------------------
 *  Binning Paramaters 
 * -------------------------------------------------
 */
params {
  length_cutoff = 3000
  kmer_size = 5
  norm_method = "am_clr"
  pca_dimensions = 50
  embedding_method = "bhsne"
  embedding_dimensions = 2
  kingdom = "bacteria"
  clustering_method = "dbscan"
  classification_method = "decision_tree"
  classification_kmer_pca_dimensions = 50
  completeness = 20.0
  purity = 90.0
  gc_stddev_limit=25.0
  cov_stddev_limit=5.0
}
