// *****************
// PROFILE SETTINGS
// control how software is used (i.e. conda, docker, etc)
// *****************

profiles {
  
  standard {
    // https://www.nextflow.io/docs/latest/executor.html#local
    // simple profile that runs all processess locally
    
    process.executor = "local" 
  }

  slurm {
    // https://www.nextflow.io/docs/latest/executor.html#slurm
    // simple profile for running jobs on slurm
    
    process.executor = "slurm"
    
    // queue is the slurm partition to use.
    // Set SLURM partition with queue directive.
    process.queue = "queue"

  }
  
}
