// There is currently not a simple test profile. Remove this comment when there is.
// Below is the template for one.

/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.



sample_sheet="/tmp/autometa_test_samplesheet.csv"
echo "sample,assembly,fastq_1,fastq_2,coverage_tab,cov_from_assembly" > $sample_sheet
echo "625Mbp,/media/bigdrive1/autometa_test_data/625Mbp/metagenome.fna.gz,/media/bigdrive1/autometa_test_data/625Mbp/forward_reads.fastq.gz,/media/bigdrive1/autometa_test_data/625Mbp/reverse_reads.fastq.gz,,0" >> $sample_sheet

        nextflow run . \
            -profile test,docker,slurm \
            --input $sample_sheet \
            --outdir /home/chase/autometa/test_runs/mock_tax \
            --single_db_dir /media/bigdrive1/Databases/autometa_databases \
            --autometa_image_tag temp \
            -resume



            

----------------------------------------------------------------------------------------
*/


params {
 
 
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 80
    max_memory = 900.GB
    max_time   = 200.h

       mock_test = true
    debug     = true
    pca_dimensions = 2

    taxonomy_aware = true
    large_downloads_permission= true


}

process {
    withName:'ALIGN_READS'{
        ext.args2 = '-q --phred33 --very-fast --no-unal --mm'
    }
    withLabel:process_low {
        cpus   = 4
    }
    withLabel:process_medium {
        cpus   = 24
        memory = 200
    }
    withLabel:process_high {
        cpus   = 40
        memory = 800
    }

}
