// There is currently not a simple test profile. Remove this comment when there is.
// Below is the template for one.

/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.



sample_sheet="/tmp/autometa_test_samplesheet.csv"
echo "sample,assembly,fastq_1,fastq_2,coverage_tab,cov_from_assembly" > $sample_sheet
echo "example_1,/home/chase/Documents/data/example_autometa/combined_nucleotide.fna.gz,/home/chase/Documents/data/example_autometa/reads_1.fastq.gz,/home/chase/Documents/data/example_autometa/reads_2.fastq.gz,,0" >> $sample_sheet


        nextflow run . \
            -profile test,docker \
            --input $sample_sheet

----------------------------------------------------------------------------------------
*/


params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 2.h

    mock_test = true
    debug     = true

}
