// There is currently not a simple test profile. Remove this comment when there is.
// Below is the template for one.

/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

example_dir="/tmp/autometa_test"
mkdir -p $example_dir $example_dir/database_directory $example_dir/output
cd $example_dir

curl -L -H "Accept: application/vnd.github.v3.raw" https://github.com/KwanLab/autometa_test_data/raw/refs/heads/main/minimal/combined_nucleotide.fna.gz -o $example_dir/combined_nucleotide.fna.gz
curl -L -H "Accept: application/vnd.github.v3.raw" https://github.com/KwanLab/autometa_test_data/raw/refs/heads/main/minimal/reads_1.fastq.gz -o $example_dir/reads_1.fastq.gz
curl -L -H "Accept: application/vnd.github.v3.raw" https://github.com/KwanLab/autometa_test_data/raw/refs/heads/main/minimal/reads_2.fastq.gz -o $example_dir/reads_2.fastq.gz
curl -L -H "Accept: application/vnd.github.v3.raw" https://github.com/KwanLab/autometa_test_data/raw/refs/heads/main/minimal/database_directory/prot.accession2taxid.gz -o $example_dir/database_directory/prot.accession2taxid.gz
curl -L -H "Accept: application/vnd.github.v3.raw" https://github.com/KwanLab/autometa_test_data/raw/refs/heads/main/minimal/database_directory/nr.dmnd -o $example_dir/database_directory/nr.dmnd

# Create a sample sheet
sample_sheet="$example_dir/autometa_test_samplesheet.csv"
echo "sample,assembly,fastq_1,fastq_2,coverage_tab,cov_from_assembly" > $sample_sheet
echo "example_1,${example_dir}/combined_nucleotide.fna.gz,${example_dir}/reads_1.fastq.gz,${example_dir}/reads_2.fastq.gz,,0" >> $sample_sheet

        nextflow run KwanLab/Autometa \
            -profile docker \
            --input $sample_sheet \
            --taxonomy_aware \
            --outdir ${example_dir}/output \
            --single_db_dir ${example_dir}/database_directory \
            -resume

# or

        nextflow KwanLab/Autometa \
            -profile docker \
            --input $sample_sheet \
            --taxonomy_aware \
            --outdir ${example_dir}/output \
            --nr_dmnd_dir '/tmp/autometa_test/database_directory' \
            --prot_accession2taxid_gz_dir '/tmp/autometa_test/database_directory' \
            -resume


----------------------------------------------------------------------------------------
*/


params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 2.h

    mock_test = true
    debug     = true

}
