########################################
###### Metagenome Submission Files #####
########################################

[files]
metagenome = <Required>
fwd_reads = None
rev_reads = None
length_filtered = None
coverages = None
kmer_counts = None
kmer_normalized = None
kmer_embedded = None
nucleotide_orfs = None
amino_acid_orfs = None
blastp = None
blastp_hits = None
blastx = None
taxonomy = None
bacteria_hmmscan = None
bacteria_markers = None
archaea_hmmscan = None
archaea_markers = None
binning = None

########################################
### Metagenome Submission Parameters ###
########################################

[parameters]
projects = <Required>
project = 1
resume = 0
add_metagenome = None
length_cutoff = 10000
cov_from_spades = False
kmer_size = 5
kmer_multiprocess = True
kmer_normalize = True
do_pca = True
pca_dims = 50
embedding_method = UMAP
taxon_method = majority_vote
reversed = True
binning_method = recursive_dbscan
completeness = 20.0
purity = 90.0
verbose = False
force = False
usepickle = True
noparallel = False
cpus = 1
