// There is currently not a simple test profile. Remove this comment when there is.
// Below is the template for one.

/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

single_db_dir=`mktemp -d -p "$DIR"`
echo $single_db_dir

sample_sheet="$single_db_dir/autometa_test_samplesheet.csv"
#echo "sample,assembly,fastq_1,fastq_2,coverage_tab,cov_from_assembly" > $sample_sheet
#echo "example_1,/home/chase/Documents/data/example_autometa/combined_nucleotide.fna.gz,/home/chase/Documents/data/example_autometa/reads_1.fastq.gz,/home/chase/Documents/data/example_autometa/reads_2.fastq.gz,,0" >> $sample_sheet


    nextflow run . \
        -profile test,docker \
        --outdir $test_dir \
        --single_db_dir $test_dir \
        -stub \
        -resume
----------------------------------------------------------------------------------------
*/


params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 24
    max_memory = 60.GB
    max_time   = 20.h

    mock_test = false
    debug     = false
    pca_dimensions = 2
    unclustered_recruitment =true

    taxonomy_aware = true
    large_downloads_permission= true

}
