// There is currently not a simple test profile. Remove this comment when there is.
// Below is the template for one.

/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.


    test_dir=`mktemp -d -p "$DIR"`
    echo $test_dir

    nextflow run . \
        -profile test_example_1,docker \
        --outdir $test_dir \
        --single_db_dir $test_dir \
        -stub \
        -resume

    # remember to uncomment/run the cleanup :)
    # rm -r $test_dir
----------------------------------------------------------------------------------------
*/


params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 24
    max_memory = 60.GB
    max_time   = 20.h

    mock_test = false
    debug     = false
    pca_dimensions = 2
    unclustered_recruitment =true

    taxonomy_aware = true
    large_downloads_permission= true

}
