/*
 * -----------------------------------------------------------------
 *  Minimum paramters to run Autometa
 *  Additional parameters can be set in: 01_optional_autometa.config 
 * -----------------------------------------------------------------
 */

params {

input = null                                    // Metagenome path (.fna)
interim_dir = "${baseDir}/autometa_interim_dir" // Intermediate results directory
outdir = "${baseDir}/autometa_outdir"           // Final results directory
tracedir = "${baseDir}/autometa_tracedir"       // Nextflow logging directoy

}



if (params.tracedir){
  timeline {
    enabled = true
    file = "${params.tracedir}/pipeline_info/execution_timeline.html"
  }
  report {
    enabled = true
    file = "${params.tracedir}/pipeline_info/execution_report.html"
  }
  trace {
    enabled = true
    file = "${params.tracedir}/pipeline_info/execution_trace.txt"
  }
  dag {
    enabled = true
    file = "${params.tracedir}/pipeline_info/pipeline_dag.svg"
  }
}
else {
  timeline {
    enabled = true
    file = "pipeline_info/execution_timeline.html"
  }
  report {
    enabled = true
    file = "pipeline_info/execution_report.html"
  }
  trace {
    enabled = true
    file = "pipeline_info/execution_trace.txt"
  }
  dag {
    enabled = true
    file = "pipeline_info/pipeline_dag.svg"
  }
}