/*
 * -------------------------------------------------
 *  Autometa-specific config file
 * -------------------------------------------------
 */

params{

/*
* Metagenome input (.fna)
*/
input_fna = null

/*
* Intermediate results directory
*/
interim_dir = null

/*
* Final results directory
*/
outdir = null

}