/*
 * -----------------------------------------------------------------
 *  Minimum paramters to run Autometa
 *  Additional parameters can be set in: 01_optional_autometa.config 
 * -----------------------------------------------------------------
 */

params {

input = null            // Metagenome path (.fna)

interim_dir = null      // Intermediate results directory

outdir = null           // Final results directory

}