/*
 * -------------------------------------------------
 *  Autometa-specific config file
 * -------------------------------------------------
 */

params{

taxonomy_aware = false
// Database input
// NOTE: Directory path must contain:
// - diamond formatted nr file => nr.dmnd
// - Extracted files from tarball taxdump.tar.gz
single_db_dir = "${projectDir}/large_db"

// Metagenome Length filtering
length_cutoff = 3000

// Kmer counting/normalization/embedding
kmer_size = 5
norm_method = "am_clr" // choices: "am_clr", "clr", "ilr"
pca_dimensions = 50
embedding_method = "bhsne" // choices: "sksne", "bhsne", "umap"
embedding_dimensions = 2

// Binning parameters
kingdom = "bacteria"
binning_starting_rank = "superkingdom" // choices: "superkingdom", "phylum", "class", "order", "family", "genus", "species"
clustering_method = "dbscan" // choices: "dbscan", "hdbscan"
classification_method = "decision_tree" // choices: "decision_tree", "random_forest"
classification_kmer_pca_dimensions = 50
completeness = 20.0
purity = 90.0
gc_stddev_limit=25.0
cov_stddev_limit=5.0

}

