/*
 * -------------------------------------------------
 *  Autometa-specific config file
 * -------------------------------------------------
 */

params{
// Data inputs
metagenome = null

// Where to store intermediate and final results:
interim = null
outdir = './results'
result_mode = 'copy'
tracedir = './results/tracing'

// Database input
// NOTE: Directory path must contain:
// - diamond formatted nr file => nr.dmnd
// - Extracted files from tarball taxdump.tar.gz
ncbi_database = "$HOME/Autometa/autometa/databases/ncbi"

// Metagenome Length filtering
length_cutoff = 3000

// Kmer counting/normalization/embedding
kmer_size = 5
kmer_norm_method = "am_clr" // choices: "am_clr", "clr", "ilr"
kmer_pca_dimensions = 50
kmer_embed_method = "bhsne" // choices: "sksne", "bhsne", "umap"
kmer_embed_dimensions = 2

// Binning parameters
kingdom = "bacteria"
classification_kmer_pca_dimensions = 50
kmer_embed_method = "bhsne" // choices: "bhsne", "sksne", "umap"
clustering_method = "dbscan" // choices: "dbscan", "hdbscan"
binning_starting_rank = "superkingdom" // choices: "superkingdom", "phylum", "class", "order", "family", "genus", "species"
classification_method = "decision_tree" // choices: "decision_tree", "random_forest"
completeness = 20.0
purity = 90.0
}

