// *****************
// PROFILE SETTINGS
// conda, docker, etc
// *****************


profiles {

   docker {
    process.container = 'jason-c-kwan/autometa:nfcore'
    docker.enabled = true
    singularity.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
    fixOwnership = true
  }

/*
   Profiles below here have not been tested. 
   If you test one and it works, please send a pull request
   moving the working profile above this comment block
   https://github.com/KwanLab/Autometa/blob/main/.github/CONTRIBUTING.md
*/

// Briefly tested conda, This will require additional functions to hmmpress the marker genes
 conda {
    docker.enabled = false
    singularity.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud = false
    process.conda = "bioconda::autometa"
  }

  singularity {
    docker.enabled = false
    singularity.enabled = true
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
    singularity.autoMounts = true
  }
  podman {
    singularity.enabled = false
    docker.enabled = false
    podman.enabled = true
    shifter.enabled = false
    charliecloud = false
  }
  shifter {
    singularity.enabled = false
    docker.enabled = false
    podman.enabled = false
    shifter.enabled = true
    charliecloud.enabled = false
  }
  charliecloud {
    singularity.enabled = false
    docker.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = true
  }

}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Profiles for test and degub sessions
profiles {
  test { includeConfig 'test.config' }
  test_full { includeConfig 'test_full.config' }
  debug { process.beforeScript = 'echo $HOSTNAME' }
}