/*
 * -------------------------------------------------
 *  Autometa Nextflow base config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Parameters should be documented in nextflow_schema.json

params {

  validate_params=true
  schema_ignore_params=""
  email = false
  email_on_fail = false
  plaintext_email = false
  monochrome_logs = false
  help = false
  config_profile_description = false 
  config_profile_contact = false 
  config_profile_url = false 
}
