/*
 * -------------------------------------------------
 *  Autometa Nextflow base config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

params {
 // Workflow flags
  // TODO nf-core: Specify your pipeline's command line flags
  email = false
  email_on_fail = false
  plaintext_email = false
  monochrome_logs = false
  help = false
  tracedir = "${params.outdir}/pipeline_info"
  config_profile_description = false 
  config_profile_contact = false 
  config_profile_url = false 
}


timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
